In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

%matplotlib inline

In [167]:

data = pd.read_csv("data.txt", sep='  ', header=None)
len(data)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

11934

In [174]:
x = data.iloc[:,:16]
y = data.iloc[:,16:18]
#y2 =  data.iloc[:,17]
x = x.drop(columns = [8,11,0,1,3,5,6,13])
#x = (x - x.mean()) / (x.max() - x.min())

In [175]:
#y

In [176]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3)

In [177]:
len(ytrain)

8353

In [178]:
def ReLu(x):
    return abs(x) * (x > 0)

In [179]:
def dReLu(x):
    return 1. *(x > 0.)

In [180]:
np.random.seed(3) #generates a value between 3
w0 = np.random.random((8,50)) - 1 #between layers 0 and 1
w1 = np.random.random((50,26)) - 1 #between layers 1 and 2
w2 = np.random.random((26,8)) - 1
w3 = np.random.random((8,2)) - 1

b = np.random.random((1,1)) - 1
# b1 = np.random.random((1,1)) - 1
# b2 = np.random.random((1,1)) - 1
# b3 = np.random.random((1,1)) - 1

In [181]:
def feed_forward(data_in , w0, w1 ,w2,w3, b):
    layer0 = data_in
    layer1 = ReLu(np.dot(layer0,w0)+b0)
    layer2 = ReLu(np.dot(layer1,w1)+b1)
    layer3 = ReLu(np.dot(layer2,w2)+b2)
    layer4 = np.dot(layer3,w3)
    
    return layer0,layer1,layer2,layer3,layer4

In [182]:
def back_propogation(layer0,layer1,layer2,layer3,layer4, actual_y, w0,w1,w2,w3,b,learning_rate, i):
    
    l4_error = layer4 - actual_y
    l4_delta = l4_error
    dh4 = np.dot(layer3.T,l4_delta)
    
    l3_error = np.dot(l4_delta,w3.T)
    l3_delta = l3_error * dReLu(layer3)
    dh3 = np.dot(layer2.T, l3_delta) #layer 1 change
    
    l2_error = np.dot(l3_delta,w2.T)
    l2_delta = l2_error * dReLu(layer2)
    dh2 = np.dot(layer1.T,l2_delta)#layer2 changes
    
    l1_error = np.dot(l2_delta,w1.T)
    l1_delta = l1_error * dReLu(layer1)
    dh1 = np.dot(layer0.T, l1_delta)#layer 3 changes
    
    w3 = w3 - (learning_rate * dh4)
    w2 = w2 - (learning_rate * dh3)
    w1 = w1 - (learning_rate * dh2)
    w0 = w0 - (learning_rate * dh1)
#    # b3 = b3 - (learning_rate * np.mean(l4_delta))
#     b2 = b2 - (learning_rate * np.mean(l3_delta))
#     b1 = b1 - (learning_rate * np.mean(l2_delta))#we use l2_delta as we get a unit value when differentiation with b is done
    #b = b - (learning_rate * np.mean(l4_delta))
    
    if i%1 == 0 and (i!=0):
        loss = np.mean(np.power(layer4 - actual_y,2))
        loss_curve.append(loss)
        iters.append(int(i))
        
        if i%1000 == 0:
            print('\n', int(i),loss)
    
    return w0,w1,w2,w3,b

In [183]:
epochs = 10000
loss_curve = []
iters = []

In [184]:
for i in range(epochs):
    layer0,layer1,layer2,layer3,layer4 = feed_forward(xtrain,w0,w1,w2,w3,b)
    w0,w1,w2,w3,b = back_propogation(layer0,layer1,layer2,layer3,layer4,ytrain, w0,w1,w2,w3,b,0.05,i)

 1000 16    0.950793
17    0.975215
dtype: float64

 2000 16    0.950793
17    0.975215
dtype: float64

 3000 16    0.950793
17    0.975215
dtype: float64

 4000 16    0.950793
17    0.975215
dtype: float64

 5000 16    0.950793
17    0.975215
dtype: float64

 6000 16    0.950793
17    0.975215
dtype: float64

 7000 16    0.950793
17    0.975215
dtype: float64

 8000 16    0.950793
17    0.975215
dtype: float64

 9000 16    0.950793
17    0.975215
dtype: float64

In [74]:
#plt.plot(iters,loss_curve)

In [186]:
c = feed_forward(xtest.iloc[:,:],w0,w1,w2,w3,b)
c[4]

array([[0., 0.],
       [0., 0.],
       [0., 0.],
       ...,
       [0., 0.],
       [0., 0.],
       [0., 0.]])

In [187]:
ytest.iloc[:,:]

          16     17
2166   0.959  0.981
4459   0.969  0.976
10885  0.996  0.988
28     0.950  0.978
8362   0.985  0.994
433    0.951  0.997
5818   0.974  0.997
7698   0.982  0.998
8324   0.985  0.989
3947   0.966  0.997
3902   0.966  0.992
5808   0.974  0.996
9812   0.991  0.999
2262   0.959  0.992
7824   0.983  0.986
2136   0.959  0.978
1455   0.956  0.980
610    0.952  0.990
1307   0.955  0.990
454    0.951  0.999
1665   0.957  0.978
10571  0.995  0.979
2118   0.959  0.976
10158  0.993  0.985
3626   0.965  0.987
528    0.952  0.981
243    0.951  0.976
5458   0.973  0.983
9102   0.988  0.998
933    0.953  1.000
...      ...    ...
4018   0.967  0.979
8629   0.986  0.997
10103  0.993  0.979
4973   0.971  0.981
8885   0.987  1.000
4482   0.969  0.979
11583  0.999  0.988
3654   0.965  0.991
9846   0.992  0.977
8656   0.986  1.000
8780   0.987  0.988
7153   0.980  0.989
10151  0.993  0.984
2419   0.960  0.983
5890   0.975  0.979
11299  0.998  0.982
113    0.950  0.987
7351   0.981  0.985
11317  0.998  0.984
5563   0.973  0.995
1570   0.956  0.993
1372   0.955  0.997
895    0.953  0.996
6829   0.979  0.979
6945   0.979  0.992
1295   0.955  0.988
1167   0.954  1.000
796    0.953  0.985
7109   0.980  0.984
6173   0.976  0.984

[3581 rows x 2 columns]

In [171]:
from sklearn.metrics import mean_squared_error
mean_squared_error(c[4],ytest)

0.9630811347389214